// add color
$primary-color:#fedd12;
$primary-dark:#c6ac00;
$primary-light:#ffff58;

$secondary-color:#ffff00;
$secondary-dark:#c7cc00;
$secondary-light:#ffff5a;

$black-color:#000000;
$white-color:#ffffff;
$gray-color: #868686;
$gray-color-light:#f5f6fa;