# Copy this file to `.env` and fill in the values before running `npm run build`.
# `.env` itself is git-ignored, so it must be created on each machine/server.

VUE_APP_I18N_LOCALE=la
VUE_APP_I18N_FALLBACK_LOCALE=en
VUE_APP_I18N_SUPPORTED_LOCALE=la,en
VUE_APP_BASE_API_URL=https://api.tplus.la/web-api/api/v1/
